{% block aside_content %}
    <ul class="main-menu">
        <li><a class="active" href="{{ path('etgest_dashboard') }}">Home</a></li>
        <li><a href="#">Lista Clienti</a></li>
        <li><a href="#">Cerca Clienti</a></li>
        <li><a href="#">Cerca Ticket</a></li>
        <li><a href="#">Provvigioni</a></li>
        <li><a href="#">Viaggi Aperti</a></li>
        <li><a href="#">Viaggi Accessi</a></li>
        <li><a href="#">Modulo incentive ITA</a></li>
        <li><a href="#">Gestione Prenotazioni</a></li>
        <li><a href="#">Gestione Incassi Clienti</a></li>
        <li><a href="#">Gestione Estratti conto</a></li>
        <li><a href="#">Conferma importazione pratica AVES</a></li>
        <li><a href="#">Conferma importazione pratica SIAP</a></li>
        <li><a href="#">Gestione Promotori</a></li>
    </ul>
{% endblock %} 