{% extends 'base.html.twig' %}

{% block aside_content %}
    
{% endblock %}

{% block main_content %}
    <ul class="">
        <li><a href="{{ path('etgest_dashboard') }}">ETGEST</a></li>
        
    </ul>
{% endblock %}