/******************************
Flexbox Layout
*******************************/

.header {
    height: 100px;
}

.header img {
    margin-top: 15px;
}

.slicknav_menu {
    display: none;
}

.main-menu {
    list-style: none;
    padding-left: 0px;
}

.main-menu li:first-of-type, .main-menu li:first-of-type a:hover, .main-menu li:first-of-type a.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-menu li:last-of-type, .main-menu li:last-of-type a:hover, .main-menu li:last-of-type a.active {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-menu li {
    background: #F8F8F8;
}
.main-menu li a {
    padding: 12px;
    padding-left: 15px;
    display: block;
    text-decoration: none;
}
.main-menu li a:hover, .main-menu li a.active {
    background-color: #428bca;
    color: white;
}

.main-content .content {
    padding: 15px;
    background: #F8F8F8;
    border-radius: 10px;
    min-height: 200px
}

@media screen and (max-width: 768px) {
    /* #menu is the original menu */
    .slicknav_menu {
        display: block;
    }
    
    .main-menu {
        display: none;
    }
}