{% extends 'base.html.twig' %}

{% block main_content %}
    <div class="content">
        <h2 class="content-main-title">{% trans %}HOME PAGE{% endtrans %}</h2>
        <br/>
        {% trans %}Main content goes here!!!{% endtrans %}
    </div>
{% endblock %}